In [6]:
import numpy as np
#1. Create Numpy array, split into 3 arrays then calculate sum of all arrays numbers.
array = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
arr1 = array[:3]
arr2 = array[3:6]
arr3 = array[6:]
sum_of_arrays = np.sum(arr1) + np.sum(arr2) + np.sum(arr3)
print("The sum of all arrays is:", sum_of_arrays)

#2. Create a NumPy array to extract all numbers greater than 5 and less than 15.
new_array = np.arange(1, 21)
print("original array:",new_array)
number_great = new_array[new_array>5]
print("Number greater Than 5: ",number_great)
number_less = new_array[new_array<15]
print("Number less than 15 :",number_less)

#3. Create two sets (at least one set through constructor) set1 = {Even numbers (0~10)}, set2 = {Positive integers (1~10)}

set1 = set(range(0, 11, 2))
set2 = set(range(1, 11))
print("Original Set1:", set1)
print("Original Set2:", set2)

set2.remove(2)
set2.remove(5)

set3 = set2.intersection(set1)

print("Set1:", set1)
print("Set2:", set2)
print("Set3:", set3)

#4. Create a dictionary named â€œstudentsâ€. Store 5 different students record into dictionary. For key used sapId of the student. Student record should contain: sapid, name, age and Semester (Six). Update the Semester (Six) to Semester (Seven).

students = {
    '27668': {'Name': 'Umar Waqar', 'Age': 21, 'Semester': 'Six'},
    '54321': {'Name': 'Ahmed Sultan', 'Age': 20, 'Semester': 'Six'},
    '67890': {'Name': 'Shawar ahmed', 'Age': 19, 'Semester': 'Six'},
    '29876': {'Name': 'Hamid hamid', 'Age': 22, 'Semester': 'Six'},
    '21223': {'Name': 'Zeeshan Ahmed', 'Age': 23, 'Semester': 'Six'}
}

for student in students.values():
    student['Semester'] = 'Seven'

print(students)

The sum of all arrays is: 55
original array: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
Number greater Than 5:  [ 6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
Number less than 15 : [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]
Original Set1: {0, 2, 4, 6, 8, 10}
Original Set2: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set1: {0, 2, 4, 6, 8, 10}
Set2: {1, 3, 4, 6, 7, 8, 9, 10}
Set3: {8, 10, 4, 6}
{'27668': {'Name': 'Bilal Ahmed', 'Age': 21, 'Semester': 'Seven'}, '54321': {'Name': 'Ahmed Sultan', 'Age': 20, 'Semester': 'Seven'}, '67890': {'Name': 'Shawar ahmed', 'Age': 19, 'Semester': 'Seven'}, '29876': {'Name': 'Hamid hamid', 'Age': 22, 'Semester': 'Seven'}, '21223': {'Name': 'Zeeshan Ahmed', 'Age': 23, 'Semester': 'Seven'}}